{{#if prompt}}
  <option value="">{{prompt}}</option>
{{/if}}
{{#each options as |model|}}
  <option value={{model.id}} selected={{eq model.id selected.id}}>{{get model displayColumn}}</option>
{{/each}}
