{{#if prompt}}
  <option value="">{{prompt}}</option>
{{/if}}
{{#each options as |option|}}
  <option value={{option.id}} selected={{eq option.id selected.id}}>{{get option displayColumn}}</option>
{{/each}}
